<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/moment/2.30.1/min/moment.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap-daterangepicker/3.1/js/bootstrap-daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-daterangepicker/3.1/css/bootstrap-daterangepicker.css"/>
    <title th:text="${title}">Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary" sec:authorize="hasRole('ADMIN')">
    <div class="container-fluid container">
        <a class="navbar-brand" href="/admin">Admin Board CarRent</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/public">User view</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/admin/register" >Register admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/admin/rents" >List bookings</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/admin/cars" >List cars</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/admin/cars/add" >Add car</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout" >Logout</a>
                </li>
            </ul>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div th:fragment="indexCard (src, alt, title, description, link, id)" class="card" style="width: 18rem;">
    <img th:src="${src}" class="card-img-top" th:alt="${alt}">
    <div class="card-body">
        <h5 class="card-title" th:text="${title}">Card title</h5>
        <p class="card-text" th:text="${description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form action="#" th:action="@{|${link}/${id}|}" method="get">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:fragment="tableRow (row)" th:each="col, iterStat : ${row}">
        <th th:if="${iterStat.index == 0}" th:text="col" scope="row"/>
        <td th:unless="${iterStat.index == 0}" th:text="col"/>
    </tr>
    <tr>
        <th th:fragment="tableHead (content)" th:text="${content}" scope="row">Text</th>
        <td th:fragment="tableElement (content)" th:text="${content}">Text</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    </tbody>
</table>
<div th:fragment="editField (data, out, ind, text)" class="input-group mb-3">
    <span class="input-group-text" th:id="|basic-addon${ind}|" th:text="${text}">Field</span>
    <input type="text" class="form-control edit_field" th:id="|bttn${ind}|" th:value="${data}" disabled readonly th:field="*{__${out}__}">
    <button class="btn btn-outline-secondary" th:data-field="${data}" th:onclick="|activateField('bttn${ind}', this.getAttribute('data-field'))|" type="button" th:id="|button-addon${ind}|">Edit</button>
</div>
<div th:fragment="editDisabled (data, ind, text)" class="input-group mb-3">
    <span class="input-group-text" th:id="|basic-addon${ind}|" th:text="${text}">Field</span>
    <input type="text" class="form-control" th:value="${data}" value="Disabled readonly input" disabled readonly>
</div>
<div th:fragment="addField (out, text)" class="input-group mb-3">
    <span class="input-group-text" th:text="${text}">Field</span>
    <input type="text" class="form-control" th:field="*{__${out}__}" value="Disabled readonly input">
</div>
</body>
</html>