<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="post">

        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
<!--            <p th:if="${#fields.hasErrors('username')}">Invalid Name</p>-->
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
<!--            <p th:if="${#fields.hasErrors('password')}">Invalid Password</p>-->
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
        <div>
            Not registered yet? <a href="/register/user">Register.</a>
        </div>
        <div>
            Or just go to the <a href="/public">main page.</a>
        </div>
    </form>
</div>
</body>
</html>
