<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/general.html :: head (CarRent)}">
</head>
<body>
    <nav th:replace="~{fragments/general.html :: navbar}"></nav>
    <div class="container mt-3 mb-3">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="mb-3">Want to rent a car? Pick a date and let's ride!</h2>
                <input type="text" id="dates" name="dates" class="form-control pull-right" th:value="${dateStr}"/>
                <p th:if="${dateErr} != null" th:text="${dateErr}" class="alert alert-danger mt-3"></p>
                <form id="date_form" method="get" action="/public">
                    <input type="hidden" name="startDate" id="startDate"/>
                    <input type="hidden" name="endDate" id="endDate"/>
                    <script>
                        $(function() {
                            const date = new Date();
                            let today = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
                            $('input[name="dates"]').daterangepicker({
                                opens: 'right',
                                autoUpdateInput: false,
                                locale: {
                                    format: "DD/MM/YYYY"
                                },
                                minDate: today,
                                startDate: today
                            }, function(start, end) {
                                $('#startDate').val(start.format('YYYY-MM-DD'));
                                $('#endDate').val(end.format('YYYY-MM-DD'));
                                $( "#date_form" ).trigger( "submit" );
                            });
                        });
                    </script>
                </form>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-4">
            <th:block th:each="car: ${cars}">
                <div class="col-xs-12 col-sm-6">
                    <div th:replace="~{fragments/general.html :: indexCard (|data:image/jpeg;base64, ${imgUtil.getImgData(car.imageData)}|, image, ${car.model}, ${car.brand}, ${car.price}, '/public/pickCar', ${car.id}, ${car.isActive})}"></div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>