<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/general.html :: head (CarRent)}">
</head>
<body>
    <nav th:replace="~{fragments/general.html :: navbar}"></nav>
    <div class="container mt-3 mb-3">
        <div class="card mb-3">
            <div class="card-body">
                <h2>Want to rent a car? Pick a date and let's ride!</h2>
                <input type="text" id="dates" name="dates" class="form-control pull-right" th:value="${dateStr}"/>
                <form id="date_form" method="get" action="/">
                    <input type="hidden" name="startDate" id="startDate"/>
                    <input type="hidden" name="endDate" id="endDate"/>
                    <script>
                        $(function() {
                            $('input[name="dates"]').daterangepicker({
                                opens: 'left'
                            }, function(start, end, label) {
                                $('#startDate').val(start.format('YYYY-MM-DD'));
                                $('#endDate').val(end.format('YYYY-MM-DD'));
                                $( "#date_form" ).trigger( "submit" );
                            });
                        });
                    </script>
                </form>
            </div>
        </div>
<!--        <div th:replace="~{fragments/general.html :: card ('/img/blank.jpg', image, Car, 'Buy this car now!!!')}"></div>-->
        <div style="display: flex; flex-wrap: wrap; gap: 10px;">
            <th:block th:each="car: ${cars}">
                <div th:replace="~{fragments/general.html :: card ('/img/blank.jpg', image, ${car.model}, ${car.brand}, |/cars/${car.id}|, ${startDate}, ${endDate})}"></div>
            </th:block>
        </div>
    </div>
</body>
</html>